<!--<img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
<h1 class="h3 mb-3 fw-normal">Request Password Reset</h1>
<p>
    Enter your email address in the form below and we'll email you a link so you
    can reset you password.
</p>
<div class="form-floating">
    <input type="email"
           class="form-control"
           id="email-address"
           placeholder="name@example.com"
           name="email-address"
           required
    >
    <label for="email-address">Email address</label>
</div>

<button class="w-100 btn btn-lg btn-primary mt-1"
        type="submit"
>
    Request reset
</button>

<p class="mt-5 mb-3 text-muted">
    &copy; 2020–{{ 'now'|date('Y') }} James Kerslake
</p>
