<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"
        >
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
        >

        <title>
            {% block title %}{% endblock %} - Call-change Ringing Resources
        </title>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
              rel="stylesheet"
        >
        <!-- Custom styles for this template -->
        <link href="/assets/css/blog.css" rel="stylesheet">
        <link href="/assets/css/generalCss.css" rel="stylesheet">
        {% block extraStyles %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block nav %}
<div class="container">
    <header class="blog-header py-3">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-10">
                <a class="blog-header-logo text-dark" href="/">
                    Call-change Ringing Resources
                </a>
            </div>
            {% if loggedIn == true %}
                <div class="col col-sm-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="#">
                        Log out
                    </a>
                </div>
            {% else %}
                <div class="col col-sm-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="#">
                        Log in
                    </a>
                </div>
            {% endif %}
        </div>
    </header>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light"
         style="background-color: whitesmoke"
    >
        <a href="#" class="navbar-brand">Navigate</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarSupportedContent"
        >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="text-muted nav-link" href="#">Compositions</a>
                </li>
                <li class="nav-item">
                    <a class="text-muted nav-link"
                       href="/events/resultArchive.php"
                    >
                        Results Archive
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle text-muted"
                       id="statsDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >
                        Statistics
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="statsDropdown"
                    >
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Records
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            By Competition
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            By Team
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            By Ringer
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            By Year
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#"
                       class="text-muted nav-link dropdown-toggle"
                       id="leagueDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >
                        League
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="leagueDropdown"
                    >
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Current Table
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Full Table
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Records
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            How It Works
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#"
                       class="text-muted nav-link dropdown-toggle"
                       id="extendedRingDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >
                        Extended Rings
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="extendedRingDropdown"
                    >
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Archive
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Records and Statistics
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            About Extended Rings
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#"
                       class="text-muted nav-link dropdown-toggle"
                       id="ladderDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >
                        Ladder
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="ladderDropdown"
                    >
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Results Archive
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Table Archive
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            Records and Stats
                        </a>
                        <a class="text-muted dropdown-item"
                           href="#"
                        >
                            How It Works
                        </a>
                    </div>
                </li>
                {% block loggedIn %}{% endblock %}
            </ul>
        </div>
    </nav>

    {% block featured %}{% endblock %}
    {% endblock %}

    <main role="main">
        <div class="row">
            {% block mainContent %}{% endblock %}
            {% block sideNav %}{% endblock %}
        </div><!-- /.row -->

    </main>
</div>

<footer class="blog-footer">
    {% block footer %}
            <p>
                Blog template built for
                <a href="https://getbootstrap.com/">Bootstrap</a> by
                <a href="https://twitter.com/mdo">@mdo</a>.
            </p>
            <p>
                <a href="#">Back to top</a>
            </p>
        {% endblock %}
    </footer>
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>
    <script type="application/javascript"
            src="/assets/js/generalJs.js"
    ></script>
{% endblock %}
</body>
</html>
