<!--<img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
<h1 class="h3 mb-3 fw-normal">Password Reset</h1>
<p>
    Enter and confirm your new password here, and then you will be able to log
    in with it.<br>
    <span id="message"></span>
</p>

<div class="form-floating">
    <input type="password"
           class="form-control"
           id="password"
           placeholder="Password"
           name="password"
           onkeyup="check();"
           required
    >
    <label for="password">Password</label>
</div>
<div class="form-floating">
    <input type="password"
           class="form-control"
           id="confirm-password"
           placeholder="Confirm password"
           name="confirm-password"
           onkeyup="check();"
           required
    >
    <label for="confirm-password">Confirm Password</label>
</div>
<input type="hidden"
       id="token"
       name="token"
       value="{{ formValues.token }}"
>
<input type="hidden"
       id="selector"
       name="selector"
       value="{{ formValues.selector }}"
>
<button class="w-100 btn btn-lg btn-primary"
        type="submit"
        id="submit-passwords"
        disabled
>
    Reset my password
</button>
<p class="mt-5 mb-3 text-muted">
    &copy; 2020–{{ 'now'|date('Y') }} James Kerslake
</p>
