{% extends "base.twig" %}

{% block title %}
    Statistics - team record
{% endblock %}

{% block nav %}
    {% include ('allPages/nav.twig') %}
{% endblock %}

{% block mainBody %}
    <h1>Design to follow</h1>
{% endblock %}
