{% extends 'base.twig' %}

{% block title %}Forgotten password{% endblock %}

{% block extraStyles %}
    <link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block nav %}
    {% include ('allPages/nav.twig') %}
{% endblock %}

{% block mainBody %}
    <main class="form-signin">
        {% if error is not empty %}
            <div class="alert {{ error.type }} alert-dismissible fade show"
                 role="alert"
            >
                {{ error.message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                ></button>
            </div>
        {% endif %}
        <form method="post"
              autocomplete="off"
        >
            {% if templates.body == 'getNewPassword' %}
                {% include ('topLevel/forgottenPasswordGetPassword.twig') %}
            {% else %}
                {% include ('topLevel/forgottenPasswordGetEmail.twig') %}
            {% endif %}
        </form>
    </main>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="application/javascript"
            src="/assets/js/forgottenPassword.js"
    ></script>

{% endblock %}

